<a href="https://colab.research.google.com/github/shrishtinigam/Chronic-Kidney-Disease-Prediction/blob/main/CKD_D2_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [ ]:
df = pd.read_csv('/content/kidney_disease_train.csv')
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [ ]:
df=df.drop(['id'],axis=1)
df=df.interpolate()
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,62.0,70.0,1.0250,3.0,0.0,normal,abnormal,notpresent,notpresent,122.0,...,39.000000,7900,3.9,yes,yes,no,good,no,no,ckd
1,54.0,70.0,1.0250,2.0,0.0,NaN,NaN,notpresent,notpresent,233.0,...,40.333333,NaN,NaN,no,yes,no,good,no,no,ckd
2,47.0,80.0,1.0250,1.0,0.0,NaN,NaN,notpresent,notpresent,114.0,...,41.666667,NaN,NaN,yes,no,no,poor,no,no,ckd
3,43.0,60.0,1.0250,0.0,0.0,normal,normal,notpresent,notpresent,108.0,...,43.000000,7200,5.5,no,no,no,good,no,no,notckd
4,42.0,100.0,1.0150,4.0,0.0,normal,abnormal,notpresent,present,184.5,...,39.000000,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,46.0,60.0,1.0100,1.0,0.0,normal,normal,notpresent,notpresent,163.0,...,28.000000,14600,3.2,yes,yes,no,good,no,no,ckd
276,50.0,90.0,1.0175,0.5,0.0,NaN,NaN,notpresent,notpresent,89.0,...,17.000000,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,23.0,80.0,1.0250,0.0,0.0,normal,normal,notpresent,notpresent,111.0,...,41.000000,7200,5.0,no,no,no,good,no,no,notckd
278,38.0,80.0,1.0200,0.0,0.0,normal,normal,notpresent,notpresent,99.0,...,44.000000,7300,6.4,no,no,no,good,no,no,notckd
279,17.0,60.0,1.0100,0.0,0.0,NaN,normal,notpresent,notpresent,92.0,...,52.000000,7000,NaN,no,no,no,good,no,no,ckd

In [ ]:
final=pd.get_dummies(df['rbc'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['pc'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['pcc'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['ba'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['htn'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['dm'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['cad'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['appet'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['pe'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['ane'])
df=pd.concat([df,final],axis=1)
final=pd.get_dummies(df['classification'])
df=pd.concat([df,final],axis=1)

In [ ]:
df=df.drop(['rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane'],axis='columns')
df

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,no,yes,good,poor,no,yes,no,yes,ckd,notckd
0,62.0,70.0,1.0250,3.0,0.0,122.0,42.0,1.7,136.0,4.7,...,1,0,1,0,1,0,1,0,1,0
1,54.0,70.0,1.0250,2.0,0.0,233.0,50.1,1.9,137.5,4.2,...,1,0,1,0,1,0,1,0,1,0
2,47.0,80.0,1.0250,1.0,0.0,114.0,87.0,5.2,139.0,3.7,...,1,0,0,1,1,0,1,0,1,0
3,43.0,60.0,1.0250,0.0,0.0,108.0,25.0,1.0,144.0,5.0,...,1,0,1,0,1,0,1,0,0,1
4,42.0,100.0,1.0150,4.0,0.0,184.5,50.0,1.4,129.0,4.0,...,1,0,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,46.0,60.0,1.0100,1.0,0.0,163.0,92.0,3.3,141.0,4.0,...,1,0,1,0,1,0,1,0,1,0
276,50.0,90.0,1.0175,0.5,0.0,89.0,118.0,6.1,127.0,4.4,...,1,0,1,0,0,1,0,1,1,0
277,23.0,80.0,1.0250,0.0,0.0,111.0,34.0,1.1,145.0,4.0,...,1,0,1,0,1,0,1,0,0,1
278,38.0,80.0,1.0200,0.0,0.0,99.0,19.0,0.5,147.0,3.5,...,1,0,1,0,1,0,1,0,0,1
279,17.0,60.0,1.0100,0.0,0.0,92.0,32.0,2.1,141.0,4.2,...,1,0,1,0,1,0,1,0,1,0

In [ ]:
df=df.fillna(method="ffill",limit=2)
df

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,no,yes,good,poor,no,yes,no,yes,ckd,notckd
0,62.0,70.0,1.0250,3.0,0.0,122.0,42.0,1.7,136.0,4.7,...,1,0,1,0,1,0,1,0,1,0
1,54.0,70.0,1.0250,2.0,0.0,233.0,50.1,1.9,137.5,4.2,...,1,0,1,0,1,0,1,0,1,0
2,47.0,80.0,1.0250,1.0,0.0,114.0,87.0,5.2,139.0,3.7,...,1,0,0,1,1,0,1,0,1,0
3,43.0,60.0,1.0250,0.0,0.0,108.0,25.0,1.0,144.0,5.0,...,1,0,1,0,1,0,1,0,0,1
4,42.0,100.0,1.0150,4.0,0.0,184.5,50.0,1.4,129.0,4.0,...,1,0,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,46.0,60.0,1.0100,1.0,0.0,163.0,92.0,3.3,141.0,4.0,...,1,0,1,0,1,0,1,0,1,0
276,50.0,90.0,1.0175,0.5,0.0,89.0,118.0,6.1,127.0,4.4,...,1,0,1,0,0,1,0,1,1,0
277,23.0,80.0,1.0250,0.0,0.0,111.0,34.0,1.1,145.0,4.0,...,1,0,1,0,1,0,1,0,0,1
278,38.0,80.0,1.0200,0.0,0.0,99.0,19.0,0.5,147.0,3.5,...,1,0,1,0,1,0,1,0,0,1
279,17.0,60.0,1.0100,0.0,0.0,92.0,32.0,2.1,141.0,4.2,...,1,0,1,0,1,0,1,0,1,0

In [ ]:
df=df.drop(['notckd','no','poor','wc','rc','classification'],axis=1)
df

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,yes,\tno,\tyes,yes,\tno,yes,good,yes,yes,ckd
0,62.0,70.0,1.0250,3.0,0.0,122.0,42.0,1.7,136.0,4.7,...,1,0,0,1,0,0,1,0,0,1
1,54.0,70.0,1.0250,2.0,0.0,233.0,50.1,1.9,137.5,4.2,...,0,0,0,1,0,0,1,0,0,1
2,47.0,80.0,1.0250,1.0,0.0,114.0,87.0,5.2,139.0,3.7,...,1,0,0,0,0,0,0,0,0,1
3,43.0,60.0,1.0250,0.0,0.0,108.0,25.0,1.0,144.0,5.0,...,0,0,0,0,0,0,1,0,0,0
4,42.0,100.0,1.0150,4.0,0.0,184.5,50.0,1.4,129.0,4.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,46.0,60.0,1.0100,1.0,0.0,163.0,92.0,3.3,141.0,4.0,...,1,0,0,1,0,0,1,0,0,1
276,50.0,90.0,1.0175,0.5,0.0,89.0,118.0,6.1,127.0,4.4,...,1,0,0,1,0,0,1,1,1,1
277,23.0,80.0,1.0250,0.0,0.0,111.0,34.0,1.1,145.0,4.0,...,0,0,0,0,0,0,1,0,0,0
278,38.0,80.0,1.0200,0.0,0.0,99.0,19.0,0.5,147.0,3.5,...,0,0,0,0,0,0,1,0,0,0
279,17.0,60.0,1.0100,0.0,0.0,92.0,32.0,2.1,141.0,4.2,...,0,0,0,0,0,0,1,0,0,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         280 non-null    float64
 1   bp          280 non-null    float64
 2   sg          280 non-null    float64
 3   al          280 non-null    float64
 4   su          280 non-null    float64
 5   bgr         280 non-null    float64
 6   bu          280 non-null    float64
 7   sc          280 non-null    float64
 8   sod         280 non-null    float64
 9   pot         280 non-null    float64
 10  hemo        280 non-null    float64
 11  pcv         280 non-null    float64
 12  abnormal    280 non-null    uint8
 13  normal      280 non-null    uint8
 14  abnormal    280 non-null    uint8
 15  normal      280 non-null    uint8
 16  notpresent  280 non-null    uint8
 17  present     280 non-null    uint8
 18  notpresent  280 non-null    uint8
 19  present     280 non-null    uint8
 20  yes         280 non-null    uint8
 21  	no         280 non-null    uint8
 22  	yes        280 non-null    uint8
 23  yes         280 non-null    uint8
 24  	no         280 non-null    uint8
 25  yes         280 non-null    uint8
 26  good        280 non-null    uint8
 27  yes         280 non-null    uint8
 28  yes         280 non-null    uint8
 29  ckd         280 non-null    uint8
dtypes: float64(12), uint8(18)
memory usage: 31.3 KB

In [ ]:
X=df.drop(columns='ckd',axis=1)
Y=df['ckd']
scaler=StandardScaler()
standardized_data=scaler.fit_transform(X)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,random_state=54)

In [ ]:
model = GaussianNB()  
model.fit(X_train,Y_train) 
prediction=model.score(X_test,Y_test)
print("Accuracy:",prediction)
predict=model.predict(X_test)

Accuracy: 0.9821428571428571

In [ ]:
from sklearn.metrics import precision_score,recall_score,accuracy_score
print('Precision: %.3f' % precision_score(Y_test,predict))
print('Recall: %.3f' % recall_score(Y_test, predict))
print('Accuracy: %.3f' % accuracy_score(Y_test, predict))

Precision: 1.000
Recall: 0.968
Accuracy: 0.982